.card {
	max-width: 600px;
	min-width: 400px;
	transition: ease 0.55s all;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.card a {
	color: inherit !important;
}

.card:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.062);
}

.deleteButton {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	transition: ease 0.55s all;
	width: fit-content;
	margin: 0 10px;
}

.deleteButton:hover {
	background-color: #cc0000;
}
